body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    margin: 10px;
    color: blueviolet;
}

h2 {
    font-size: 20px;
    margin: 10px 10px 10px 0;
}


h3 {
    font-size: 39px;
    margin: 0 10px 10px 10px;
}

h4 {
    font-size: 10px;
    margin: 10px 10px 0 10px;
}

.white-text {
    color: white;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

button {
    padding: 5px 25px 5px 25px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(orange, red);
}

/*to add gap between sections*/
.section-bottom-gap {
    margin-bottom: 100px;
}

.description-gap {
    margin-bottom: 60px;
}

/*to get some narrow content area*/
.narrow-content {
    margin: 0 20% 0 20%;
    text-align: center;
}

/*to get some more narrow content area*/
.more-narrow {
    padding: 10px 35%0% 10px 35%;
    border: 5px sienna;
}

/*to inline some boxes*/
.display-box {
    display: flex;
}

.display-block {
    display: inline-block;
    margin-top: 50px;
}

/*to align some content center*/
.justify-center {
    justify-content: center;
}

/*to align some content space around*/
.justify-space-around {
    justify-content: space-around;
}

/*for banner background image*/
nav {
    background-image: url(images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*to show full height of banner image*/
#banner-text-area {
    height: 400px;
}

.banner-align {
    padding: 80px;
}

/*for section-2 (donate today) amount box*/
.bdt {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
}

/*for section-2 (donate today) amount box*/
.selected-bdt {
    background-color: linen;
    border: 3px solid orangered;
    padding: 10px;
    margin: 10px;
}

/*for section-3 (donate plan) to color food box*/
.food-box {
    background-color: aliceblue;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
    margin: 10px 5px 10px 10%;
}

/*for section-3 (donate plan) to color shelter box*/
.shelter-box {
    background-color: lavenderblush;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
    margin: 10px;
}

/*for section-3 (donate plan) to color education box*/
.education-box {
    background-color: cornsilk;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
    margin: 10px 10% 10px 5px;
}

/*for section-4 (bonus: participate) box*/
#section-4-box {
    background-color: blueviolet;
    padding: 20px 0 20px 0;

}

/*for section-5 (get update) box*/
#get-update-box {
    background-color: blueviolet;
    padding: 50px 5px 50px 5px;
    border-radius: 15px;
    margin: 60px 15% 90px 15%;
}

/*for section-5 (get update) to style input*/
#input-email {
    padding: 5px 25px 5px 25px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: gainsboro;
}

/*for section-5 (get update) to style imput*/
#input-submit {
    padding: 5px 25px 5px 25px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: orangered;
}



footer {
    background-color: black;
    align-content: center;
    padding: 20px;
}